<div class="wrapper px-4">
    <div class="row align-baseline">
        <div class="col">
            <h4 class="text-primary pt-2">Wish List</h4>
        </div>
        <div class="col-5">
            <div class="count text-primary pt-2">{{ count }}</div>
        </div>
    </div>
    <div class="wish__card pb-2 row" *ngFor="let product of listItems">
        <div class="col cardImage">
            <img [src]="product.image" alt="poduct Image" />
        </div>
        <div class="col">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.price }}</p>
        </div>
    </div>
</div>