<div class="container my-5">
    <form [formGroup]="productForm" (ngSubmit)="submitReactiveForm()">
        <div class="mb-3">
            <!-- name input -->
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" formControlName="name" />
        </div>
        <div *ngIf="
        productFormControls.name.touched &&
        !productFormControls.name.valid
    ">
            <small class="text-danger" *ngIf="productFormControls.name.errors.required">
                This field is required
            </small>
            <small class="text-danger" *ngIf="productFormControls.name.errors.minlength">
                Min. Length is 3
            </small>
        </div>
        <!-- Email address input -->
        <label for="emailAdress" class="form-label">Email Adress</label>
        <input type="text" class="form-control" id="emailAdress" name="emailAdress" formControlName="emailAdress" />
        <div *ngIf="
                productFormControls.emailAdress.touched &&
                !productFormControls.emailAdress.valid
            ">
            <small class="text-danger" *ngIf="productFormControls.emailAdress.errors.required">
                This field is required
            </small>
            <small class="text-danger" *ngIf="productFormControls.emailAdress.errors.minlength">
                Min. Length is 3
            </small>
            <small class="text-danger" *ngIf="productFormControls.emailAdress.errors.pattern">
                wrong email format
            </small>
        </div>
        <!-- user name input -->
        <label for="userName" class="form-label">User Name</label>
        <input type="text" class="form-control" id="userName" name="userName" formControlName="userName" />
        <div *ngIf="
                productFormControls.userName.touched &&
                !productFormControls.userName.valid
            ">
            <small class="text-danger" *ngIf="productFormControls.userName.errors.required">
                This field is required
            </small>
            <small class="text-danger" *ngIf="productFormControls.userName.errors.minlength">
                Min. Length is 3
            </small>
            <small class="text-danger" *ngIf="productFormControls.userName.errors.pattern">Username can not
                contain
                space.</small>
        </div>
        <!-- password input -->
        <label for=" password" class="form-label">Password</label>
        <input type="text" class="form-control" id="password" name="password" formControlName="password" />
        <div *ngIf="
                        productFormControls.password.touched &&
                        !productFormControls.password.valid
                    ">
            <small class="text-danger" *ngIf="productFormControls.password.errors.required">
                This field is required
            </small>
            <small class="text-danger" *ngIf="productFormControls.password.errors.minlength">
                Min. Length is 3
            </small>
            <small class="text-danger" *ngIf="productFormControls.password.errors.pattern">
                password length not less than 8 characters , contains at least one lowercase , one uppercase , at least
                one digit and
                special character
            </small>
        </div>
        <!-- confirm password input -->
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword"
            ngValidateEqual="password" type="password">



        <div *ngIf="
                        productFormControls.confirmPassword.touched &&
                        productFormControls.confirmPassword.valid
                    ">
            <small class="text-danger" *ngIf="productFormControls.confirmPassword.errors.required">
                This field is required
            </small>


        </div>

        <div formArrayName="addresses">
            <div *ngFor="let address of addressesList.controls; let i = index">
                <div [formGroupName]="i">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="address" name="address"
                                    formControlName="address" required />
                            </div>

                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="street" class="form-label">Street</label>
                                <input type="text" class="form-control" id="street" name="street"
                                    formControlName="street" required />
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="country" class="form-label">Country</label>
                                <input type="text" class="form-control" id="country" name="country"
                                    formControlName="country" required />
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" id="city" name="city" formControlName="city"
                                    required />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button" (click)="addAddress()" class="m-2 btn btn-primary">
                Add Address
            </button>
        </div>
        <button type=" submit" class="btn btn-primary" [disabled]="!productForm.valid">Register</button>
    </form>
    <h5 class="pt-5">Already have an account ? <a href="/login" class="ps-3">Login</a></h5>
</div>